body{
    margin: auto;
    font-family: Roboto, sans-serif;
}

.header{
    background-color: #1f2937;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: auto;
}

.container ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

.header-logo{
    font-size: 24px;
}

.header-logo, .header-main-text, .sign-up-button{
    color: #f9faf8;
}

.header-main-text{
    font-size: 48px;
    font-weight: bolder;   
}

.header-secondary-text{
    flex-wrap: wrap;
    width: 500px;
}

.header-secondary-text, li{
    font-size: 18px;
    color: #e5e7eb;
}

img{
    width: 200px;
    height: auto;
    border-radius: 25%;
    padding-bottom: 10px;
}

.sign-up-button {
    background-color: #3882f6;
    border-radius: 10px;
    width: 120px;
    height: 40px;
    border: none;
}

.information{
    text-align: center;
}

.information .container img{
    width: 150px;
    height: 150px;
}

.info-header{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote{
    background-color: #e5e7eb;
    height: 240px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.quote p{
    width: 500px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    word-wrap: normal;
    margin-left: auto;
}

.quote h3 {
    align-self: flex-end;
    margin-right: auto;
}